{% extends "base.html" %}

{% block sidebar %}
{% endblock %}

{% block header_ext %}
{% endblock %}

{% block content %}

<div class="rowOfBoxes">
   <!--div class="twoThirds noBorderOnLeft"-->
   <div class="noBorderOnLeft">
      <h1>Welcome to NOW! &#128536;  &#128541;  &#128546;  &#128519; &#128518; &#128520;  &#128527; &#128531;  &#128525; &#128534; &#128526;</h1>
   </div>
   <p>NOW stands for "Novel Online World" and is the prototype for future text based worlds. 
      The framework uses <a href="https://github.com/evennia/evennia">Evennia</a> as the server.
      It will allow for a world that is in some ways simpler than FurryMUCK, meaning you can sit
      in one channel and chat OOCly as a player, yet allow you to pursue your own story ICly with
      one or more characters. Your story might be very MUD-like &#2013; your character versus mobs,
      puzzles, and environment &#2026; or MUSH-like, with RP or scenes with characters.
   </p>
</div>
<div class="rowOfBoxes dividingBorderAbove">
   <h3 class="ui-bar ui-bar-a ui-corner-all">Currently Connected: {{num_players_connected}} of {{num_players_registered}}</h3>
   <div class="noBorderOnLeft ui-body ui-body-a ui-corner-all">
     <ul data-role='listview'>
      {% for player in players_connected_now %}
      <li><a href="#">{{player.username}} -- <em>On for {{player.last_login|timesince}}</em></a></li>
      {% endfor %}
      </ul>
   </div>
   <h3 class="ui-bar ui-bar-a ui-corner-all">Recently Connected</h3>
   <div class="noBorderOnLeft ui-body ui-body-a ui-corner-all">
     <ul data-role='listview'>
      {% for player in players_connected_recent %}
      <li><a href="#">{{player.username}} &nbsp;&#8212;&nbsp; <em>{{player.last_login|timesince}} ago</em></a></li>
      {% endfor %}
     </ul>
     <p class="filler"><!-- Filler para to extend left vertical line --></p>
   </div>
   <h3 class="ui-bar ui-bar-a ui-corner-all">Database Stats</h3>
   <div class="noBorderOnLeft ui-body ui-body-a ui-corner-all">
     <ul data-role='listview' data-count-theme='b' data-inset='true'>
      <li><a href="#">Players <span class='ui-li-count'>{{num_players_registered}}</span></a></li>
      <li><a href="#">Characters <span class='ui-li-count'>{{num_characters}}</span></a></li>
      <li><a href="#">Rooms <span class='ui-li-count'>{{num_rooms}}</span></a></li>
      <li><a href="#">Exits <span class='ui-li-count'>{{num_exits}}</span></a></li>
      <li><a href="#">Other <span class='ui-li-count'>{{num_others}}</span></a></li>
     </ul>
   </div>
</div>
{% endblock %}
